.sendForm {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    align-items: flex-end;
    /*outline: black solid thin;*/
    font-family: 'Montserrat', serif;
}

.textarea {
    width: 970px;
    min-height: 40px;
    color: #000000;
    margin-left: 15px;
    position: relative;
    padding: 10px;
    background: #F5F7FB;
    box-shadow: 0 5px 20px rgba(29, 33, 38, 0.03), 0 1px 2px rgba(29, 33, 38, 0.1);
    border-radius: 20px;
    resize: none;
}

.button {
    width: 120px;
    height: 40px;
    background: #0066CC;
    border-radius: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.button:hover {
    background: blue;
}

.button:active {
    background: lawngreen;
}
